################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Airsqreen/.vs/Airsqreen/v16
/Airsqreen/bin/Debug/netcoreapp3.1
